################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiaryApp/.vs/DiaryApp
/DiaryApp/DiaryApp/bin/Debug/net9.0
/DiaryApp/DiaryApp/obj
/DiaryApp/.vs/ProjectEvaluation
